{
  "plugins": [
    "source-map-support",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@conf": "./src/conf",
          "@configs": "./src/configs",
          "@constants": "./src/constants",
          "@core": "./src/core",
          "@helpers": "./src/helpers",
          "@mappings": "./src/mappings",
          "@middleware": "./src/middleware",
          "@services": "./src/services",
          "@shared": "./src/shared",
          "@utils": "./src/utils"
        }
      }
    ]
  ],
  "presets": ["@babel/preset-env"]
}
